html.sr .load-hidden {
  visibility: hidden;
}

.hero-bg-parent {
  height: 100vh;
}

.hero-bg {
  height: 100vh;
  background-image: url(/images/A\ \(9\).jpg);
  background-repeat: no-repeat;
  background-size: 145vw 100vh;
  background-position: -120px 0px;
}

body {
  background-image: url(/images/A\ \(6\).jpg);
  background-repeat: no-repeat;
  background-size: 145vw 100vh;
  background-position: -120px 0px;
}

.hero-bg-overlay {
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.712);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.ml11,
.ml12 {
  margin: 12px 0px;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
  text-shadow: 1px 2px 5px black;
}

.ml12 .text-wrapper2 {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml12 .letter2 {
  display: inline-block;
  line-height: 1em;
  text-shadow: 1px 2px 5px black;
}

.ml13 .text-wrapper3 {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml13 .letter3 {
  display: inline-block;
  line-height: 1em;
  text-shadow: 1px 2px 5px black;
}

#state {
  width: 100%;
  background-color: transparent;
  outline: 1px solid grey;
  border-radius: 4px;
  padding: 12px 8px;
}

#state:focus {
  outline: 1px solid rgb(19, 82, 55)
}




@media only screen and (min-width: 500px) {
  .hero-bg {
    background-size: 35vw 100vh;
    background-position: -10px 0px;
    background-color: rgb(80, 79, 79);
    background-blend-mode: overlay;
  }
}
